:root {
  --background: #111111;
  --background-2: #1B1B1B;
  --background-3: #303030;
  --background-transparent: #111111c0;
  --primary: rgba(219, 219, 219);
  --primary-75: rgba(219, 219, 219, 0.75);
  --primary-50: rgba(219, 219, 219, 0.5);
}