*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: var(--background);
}

.section-title {
  font-size: 1.25rem;
  font-weight: 400;
}

:root {
  --background: #111111;
  --background-2: #1B1B1B;
  --background-3: #303030;
  --primary: rgba(219, 219, 219);
  --primary-75: rgba(219, 219, 219, 0.75);
  --primary-50: rgba(219, 219, 219, 0.5);
}

/* Chivo Regular */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Chivo-Regular.ttf") format("ttf"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Chivo Black */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Chivo";
  font-style: normal;
  font-weight: 900;
  src: url("../../assets/fonts/Chivo-Black.ttf") format("ttf"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --mainFont: "Chivo", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 0 8.333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("/src/assets/texture.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--mainFont);
  color: var(--primary);
}

.seperator {
  height: 78.125vh;
  border: 1px solid var(--primary);
  opacity: 0.2;
}

.main-section {
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 7.8125vh;
}

@media (min-width: 1920px) {
  .second-section {
    min-width: 32vw;
  }
}

.greeting {
  display: flex;
  flex-direction: column;
}
.greeting__hello {
  font-size: 1.5rem;
  font-weight: 400;
}
@media (max-width: 1366px) {
  .greeting__hello {
    font-size: 1.25rem;
  }
}
.greeting__time {
  font-size: 5rem;
  font-weight: 900;
}
@media (max-width: 1366px) {
  .greeting__time {
    font-size: 4rem;
  }
}
.greeting__date {
  font-size: 2.5rem;
  font-weight: 900;
}
@media (max-width: 1366px) {
  .greeting__date {
    font-size: 1.75rem;
  }
}

.quick-access__title {
  margin-bottom: 2rem;
}
@media (max-width: 1366px) {
  .quick-access__title {
    margin-bottom: 1.5rem;
  }
}
.quick-access__links {
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  gap: 2rem;
}
@media (max-width: 1366px) {
  .quick-access__links {
    grid-template-columns: repeat(4, 4.5rem);
    gap: 1.5rem;
  }
}
.quick-access__link {
  position: relative;
  width: 5rem;
  aspect-ratio: 1/1;
  background-color: var(--background-2);
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  transition: all 150ms ease-in-out;
}
@media (max-width: 1366px) {
  .quick-access__link {
    width: 4.5rem;
  }
}
.quick-access__favicon {
  width: 40%;
}
.quick-access__site-name {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  padding: 0.4rem 0.75rem;
  text-decoration: none;
  color: var(--primary);
  background: var(--background-2);
  text-align: center;
  border-radius: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  visibility: hidden;
}
.quick-access__link:hover {
  background: var(--background-3);
  cursor: pointer;
}
.quick-access__link:hover .quick-access__site-name {
  visibility: visible;
  z-index: 1000;
}

.top-sites {
  margin-bottom: 6vh;
}
.top-sites__title {
  margin-bottom: 1.5rem;
}
@media (min-height: 600px) {
  .top-sites__title {
    margin-bottom: 1rem;
  }
}
.top-sites__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.top-sites__link {
  height: 6vh;
  aspect-ratio: 6.25/1;
  padding: 0 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  background: var(--background-2);
  border-radius: 0.75rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.top-sites__link:hover {
  background: var(--background-3);
}
.top-sites__link:hover .top-sites__favicon {
  opacity: 1;
}
.top-sites__link:hover .top-sites__site-name {
  color: var(--primary);
}
@media (min-width: 1920px) {
  .top-sites__link {
    padding: 0 3rem;
  }
}
@media (min-height: 600px) {
  .top-sites__link {
    aspect-ratio: 8/1;
    border-radius: 0.5rem;
  }
}
.top-sites__favicon {
  height: 30%;
  opacity: 0.75;
  transition: all 150ms ease-in-out;
}
.top-sites__site-name {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--primary-75);
  transition: all 150ms ease-in-out;
}
@media (max-height: 900px) {
  .top-sites__site-name {
    font-size: 0.9rem;
  }
}

.history__title {
  margin-bottom: 1.5rem;
}
@media (min-height: 600px) {
  .history__title {
    margin-bottom: 1rem;
  }
}
.history__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.history__link {
  height: 6vh;
  aspect-ratio: 6.25/1;
  padding: 0 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  background: var(--background-2);
  border-radius: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.history__link:hover {
  background: var(--background-3);
}
.history__link:hover .history__favicon {
  opacity: 1;
}
.history__link:hover .history__site-name {
  color: var(--primary);
}
@media (min-width: 1920px) {
  .history__link {
    height: 6vh;
    padding: 0 3rem;
  }
}
@media (min-height: 600px) {
  .history__link {
    aspect-ratio: 8/1;
    border-radius: 0.5rem;
  }
}
.history__favicon {
  height: 30%;
  opacity: 0.75;
  transition: all 150ms ease-in-out;
}
.history__site-name {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--primary-75);
  transition: all 150ms ease-in-out;
}
@media (max-height: 900px) {
  .history__site-name {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
