.greeting {
  display: flex;
  flex-direction: column;

  &__hello {
    font-size: 1.5rem;
    font-weight: 400;

    @media (max-width: 1366px) {
      font-size: 1.25rem;
    }
  }

  &__time {
    font-size: 5rem;
    font-weight: 900;

    &__colon {
      margin: 0 0.75rem;
      animation: blink 1s steps(1, start) infinite;
    }

    @media (max-width: 1366px) {
      font-size: 4rem;
    }
  }

  &__date {
    font-size: 2.5rem;
    font-weight: 900;

    @media (max-width: 1366px) {
      font-size: 1.75rem;
    }
  }
}

@keyframes blink {
  0%,
  100% {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
