.second-section {
  @media (min-width: 1920px) {
    min-width: 32vw;
  }
}

.top-sites {
  margin-bottom: 6vh;
}

.top-sites__title, .history__title {
  margin-bottom: 1.5rem;

  @media(min-height: 600px){
    margin-bottom: 1rem; 
  } 
}